@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  :root {
    --background: 344 38% 100%;
    --foreground: 344 80% 3%;
    --muted: 344 14% 85%;
    --muted-foreground: 344 14% 29%;
    --popover: 0 0% 99%;
    --popover-foreground: 344 80% 2%;
    --card: 0 0% 99%;
    --card-foreground: 344 80% 2%;
    --border: 344 7% 90%;
    --input: 344 7% 90%;
    --primary: 344 56% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 12% 81%;
    --secondary-foreground: 344 12% 21%;
    --accent: 344 12% 81%;
    --accent-foreground: 344 12% 21%;
    --destructive: 0 92% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 344 56% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 344 38% 3%;
    --foreground: 344 30% 97%;
    --muted: 344 14% 15%;
    --muted-foreground: 344 14% 71%;
    --popover: 344 38% 4%;
    --popover-foreground: 344 30% 98%;
    --card: 344 38% 4%;
    --card-foreground: 344 30% 98%;
    --border: 344 7% 14%;
    --input: 344 7% 14%;
    --primary: 344 56% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 16% 12%;
    --secondary-foreground: 344 16% 72%;
    --accent: 344 16% 12%;
    --accent-foreground: 344 16% 72%;
    --destructive: 0 92% 57%;
    --destructive-foreground: 0 0% 100%;
    --ring: 344 56% 45%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
